.products {
    padding-top: 140px;
}

.products__title {
    color: #4F4F4F;
    margin-bottom: 50px;
}

.products__title>span {
    color: #F85251;
}

.products__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.viewrange__slider-item {
    width: 270px;
    margin-bottom: 30px;
}

.products__pagination-list {
    display: flex;
    justify-content: center;
}

.products__pagination-item {
    margin: 0 2.5px;
    text-align: center;
}

.products__pagination-link {
    padding: 5px 15px;
    border-radius: 50px;
    background: #F8F8F8;
    color: #757575;
    transition: .2s;
}

.products__pagination-link:hover {
    text-decoration: none;
    color: #757575;
    background-color: #cfcece;
}
.products__pagination-link.active{
    background-color: #F85251;
    color: #fff;
}
/* ////////////////////////////////////// */

@media(max-width: 1024px) {
    .products__content {
        justify-content: space-evenly;
    }
}